:root {
  --nav: 330px;
  --view-height: 100vh;
  --textColor: #049ef4;
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

html,
body {
  position: relative;
  top: 0;
  left: 0;
}

main {
  width: 100%;
  box-sizing: border-box;
}

main > aside > .box {
  display: flex;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  /* border: 1px solid #000; */
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

/* .fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
} */
